.main {
    background-color: white;
    width: 100%;
    height: 800px;
}

.head {
    background-color: skyblue;
    width: 100%;
    height: 90px;
}

.detail {
    width: 100%;
    height: 435px;
}

.title {
    background-color: white;
    width: 100%;
    height: 125px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    float: left;
    line-height: 2;
}

.left {
    width: 10%;
    height: 730px;
    float: left;
    font-size: 30px;
    text-align: center;
}

.center {
    width: 80%;
    height: 435px;
    float: left;
}

.one {
    background-color: white;
    width: 30%;
    height: 375px;
    float: left;
}

.two {
    width: 70%;
    height: 375px;
    float: left;
}

.r1 {
    width: 60%;
    height: 375px;
    float: left;
}

.r2 {
    width: 40%;
    height: 375px;
    float: right;
}

.a {
    width: 100%;
    height: 160px;
}

.b {
    width: 100%;
    height: 200px;
}

.right {
    width: 10%;
    height: 730px;
    font-size: 30px;
    text-align: center;
    float: right;
}

.footer {
    width: 100%;
    height: 80px;
    float: left;
}

.f1 {
    width: 70%;
    height: 80px;
    float: left;
}

.f2 {
    width: 3%;
    height: 80px;
    float: right;
}
